@model IEnumerable<ToDo>
<div class="row"><!--Ændre det til text string, frem for hardcode, ændre så det er på flere sprog, tilføje et js framework ovenpå-->
<div class="col-md-2">
    <form asp-action="Filter" method="post">
        <div class="mb-3">
        <label class="form-label">Category</label>
        <select name="filter" class="form-select"
        asp-items="@(new SelectList(ViewBag.Categories, "CategoryId", "Name", ViewBag.Filters.CategoryId ))">

    <option value="all">All</option>
    </select></div>
    
    </form>

</div>

<div class="col-md-10">

</div>
    


</div>